
@import "mixins/table";

.chapters {
  //--  all
  .table-base-style;

  //--  list
  &.list {
    .table-list-style;

    th {
      &.serial { width: 5%; }
      &.title, &.comment { width: 35%; }
    }
  }

  //--  form
  &.form {
    td {
      &.comment {
        textarea { height: 60px; }
      }
    }
  }
}

