
@import "mixins/variable";

body {
  background-color: @gray;
  padding-top: 70px;

  &#pink { background-color: @pink; }
}

.container {
  font-size: 16px;

  &.header, &.footer {}
  &.main {
    width: auto;
    margin-left: 50px;
    margin-right: 70px;
  }
}

.buttons {
  text-align: center;
  .button { display: inline; }
}

@media (min-width: 1200px) {
  .form, .add, .edit {
    .table-base { width: 70%; }
    &.many_stories, &.sessions {
      .table-base { width: 100%; }
    }
  }
  .mains {
    .table-base { width: 80%; }
    &.novel {
      .table-base { width: 70%; }
    }
  }
}

