
@import "variable";

body#my-style {
  background-color: @gray;
  padding-top: 70px;
}

.container {
  &.header, &.footer { font-size: 16px; }
  &.main {
    width: auto;
    margin-left: 50px;
    margin-right: 70px;
    font-size: 16px;
  }
}

.buttons {
  text-align: center;

  .button {
    display: inline;
  }
}

.readarea {
  font-size: 27px;

  hr {
    height: 1px;
    background-color: @black;
  }

  p { line-height: 160%; }
}

