
@import "twitter/bootstrap/bootstrap";
@import "variable";

.sidemenu {
  .well;
  //.sidebar-nav;

  background-color: WHITE;

  ul {
    .nav;
    //.nav-list;

    li {
      a:hover {
        background-color: @light-green;
      }

      &.selected {
        background-color: @light-green;
      }
    }

    .admin-list {}
  }
}

