
@import "mixins/variable";

.sidemenu {
  background-color: @white;

  ul > li {
    word-break: break-all;
    &.selected > a {
      background-color: @light-yellow;
    }
    &.nav-header > a {
      background-color: @gray;
    }

    a {
      border: solid 1px;
      border-color: @white;
      &:hover { background-color: @light-green; }
    }

    &.level1 {}
    &.level2 { padding-left: 15px; }
    &.level3 { padding-left: 30px; }
    &.level4 { padding-left: 45px; }
  }
}

